.mobile-menu-button {
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

.mobile-menu-button span {
    width: 100%;
    height: 1px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    transition: ease-in-out 0.6s;
}

.line-two {
    transform: translateY(7px);
}

.line-three {
    transform: translateY(14px);
}

.open .line-one {
    transform: rotate(45deg) translate(6px) translateY(6px);
}

.open .line-two {
    display: none;
}

.open .line-three {
    transform: rotate(-45deg) translate(-6px) translateY(6px);
}